<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information about user</title>
</head>
<body>


<h2> Welcome, <span th:text = "${helloUser}">username</span></h2>


<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>ROLE</th>

    </tr>
<tr>
    <tr th:each="user : ${user}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getFirstName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getPassword()}"/>
    <td th:each= "user :${user.getRoles()}" th:text="${user.toString()}"></td>
</table>
    <br>
    <br>
    <br>
    <br>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>